:root {
  --nc-font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --nc-font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
  --nc-tx-1: #000000;
  --nc-tx-2: #1A1A1A;
  --nc-tx-3: #7A7A7A;
  --nc-bg-1: #FFFFFF;
  --nc-bg-2: #F6F8FA;
  --nc-bg-3: #E5E7EB;
  --nc-lk-1: #0070F3;
  --nc-lk-2: #0366D6;
  --nc-lk-tx: #FFFFFF;
  --nc-ac-1: #79FFE1;
  --nc-ac-tx: #0C4047;
  --nc-ln-1: #6a6a6a;
  --nc-ln-2: #cacaca;
}

@media (prefers-color-scheme: dark) {
  :root {
    --nc-tx-1: #ffffff;
    --nc-tx-2: #eeeeee;
    --nc-tx-3: #aaaaaa;
    --nc-bg-1: #000000;
    --nc-bg-2: #111111;
    --nc-bg-3: #222222;
    --nc-lk-1: #3291FF;
    --nc-lk-2: #0070F3;
    --nc-lk-tx: #FFFFFF;
    --nc-ac-1: #7928CA;
    --nc-ac-tx: #FFFFFF;
    --nc-ln-1: #6a6a6a;
    --nc-ln-2: #3c3c3c;
  }
}

* {
  margin: 0;
  padding: 0;
}

address,
area,
article,
aside,
blockquote,
datalist,
details,
dl,
fieldset,
figure,
form,
input,
iframe,
img,
meter,
nav,
ol,
optgroup,
option,
output,
p,
pre,
progress,
ruby,
section,
table,
textarea,
ul,
video {
  /* Margins for most elements */
  margin-bottom: 1rem;
}

html, input, select, button {
  /* Set body font family and some finicky elements */
  font-family: var(--nc-font-sans);
}

body {
  /* Center body in page */
  margin: 0 auto;
  padding: 2rem;
  border-radius: 6px;
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
  background: var(--nc-bg-1);

  /* Main body text */
  color: var(--nc-tx-2);
  font-size: 1.03rem;
  line-height: 1.5;
}

@media only screen and (max-width: 1200px) {
  body {
    max-width: 750px;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    max-width: 1000px;
  }
}

::selection {
  /* Set background color for selected text */
  background: var(--nc-ac-1);
  color: var(--nc-ac-tx);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: var(--nc-tx-1);
  padding-top: .875rem;
}

h1,
h2,
h3 {
  color: var(--nc-tx-1);
  padding-bottom: 2px;
  margin-bottom: 0.875rem;
}

h1, h2 {
  border-bottom: 1px solid var(--nc-bg-2);
}

h4,
h5,
h6 {
  margin-bottom: .3rem;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.85rem;
}

h3 {
  font-size: 1.55rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .875rem;
}

a {
  color: var(--nc-lk-1);
  text-decoration: none;
}

a:hover {
  color: var(--nc-lk-2);
}

blockquote {
  padding: 1.5rem;
  background: var(--nc-bg-2);
  border-left: 5px solid var(--nc-bg-3);
}

blockquote *:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-size: 1rem;
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background: var(--nc-lk-1);
  color: var(--nc-lk-tx);
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--nc-lk-tx);
}

a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  cursor: default;
  opacity: .5;

  /* Set the [X] cursor while hovering a disabled link */
  cursor: not-allowed;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="button"]:focus,
input[type="button"]:hover {
  background: var(--nc-lk-2);
}

code,
pre,
kbd,
samp {
  /* Set the font family for monospaced elements */
  font-family: var(--nc-font-mono);
}

code,
samp,
kbd,
pre {
  /* The main preformatted style. This is changed slightly across different cases. */
  background: var(--nc-bg-2);
  border: 1px solid var(--nc-bg-3);
  border-radius: 4px;
  padding: 3px 6px;
  font-size: 0.9rem;
}

pre {
  padding: 1rem 1.4rem;
  max-width: 100%;
  overflow: auto;
}

pre code {
  /* When <code> is in a <pre>, reset it's formatting to blend in */
  background: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

code pre {
  /* When <pre> is in a <code>, reset it's formatting to blend in */
  display: inline;
  background: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

details {
  /* Make the <details> look more "clickable" */
  padding: .6rem 1rem;
  background: var(--nc-bg-2);
  border: 1px solid var(--nc-bg-3);
  border-radius: 4px;
}

summary {
  /* Makes the <summary> look more like a "clickable" link with the pointer cursor */
  cursor: pointer;
  font-weight: bold;
}

dt {
  font-weight: bold;
}

dd::before {
  /* Add an arrow to data table definitions */
  content: '→ ';
}

dd {
  margin-bottom: 1em;
}

hr {
  /* Reset the border of the <hr> separator, then set a better line */
  border: 0;
  border-bottom: 1px solid var(--nc-bg-3);
  margin: 1rem auto;
}

fieldset {
  margin-top: 1rem;
  padding: 2rem;
  border: 1px solid var(--nc-bg-3);
  border-radius: 4px;
}

legend {
  padding: auto .5rem;
}

table {
  /* border-collapse sets the table's elements to share borders, rather than floating as separate "boxes". */
  border-collapse: collapse;
  width: 100%
}

td,
th {
  border: 1px solid var(--nc-bg-3);
  text-align: left;
  padding: .5rem;
}

th {
  background: var(--nc-bg-2);
}

tr:nth-child(even) {
  /* Set every other cell slightly darker. Improves readability. */
  background: var(--nc-bg-2);
}

table caption {
  font-weight: bold;
  margin-bottom: .5rem;
}

textarea {
  /* Don't let the <textarea> extend off the screen naturally or when dragged by the user */
  max-width: 100%;
}

ol,
ul {
  /* Replace the browser default padding */
  padding-left: 2rem;
}

li {
  margin-top: .4rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

mark {
  padding: 3px 6px;
  background: var(--nc-ac-1);
  color: var(--nc-ac-tx);
}

textarea,
select,
input {
  padding: 6px 12px;
  margin-bottom: .5rem;
  background: var(--nc-bg-2);
  color: var(--nc-tx-2);

  /* Set a transparent border. It isn't visible on idle, but prevents the cell from growing in size when a darker border is set on focus. */
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

textarea:focus,
select:focus,
input[type]:focus {
  border-color: var(--nc-bg-3);

  /* Reset any browser default outlines */
  outline: 0;
}

img {
  max-width: 100%;
}

figcaption {
  color: var(--nc-tx-2);
  font-weight: 500;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

article p {
  max-width: 800px;
}

article a h3 {
  color: var(--nc-lk-1);
}

article a:hover h3 {
  color: var(--nc-lk-2);
}

.p-summary, .published {
  color: var(--nc-tx-3);
  font-size: smaller;
}

.hentry h3 {
  margin-bottom: 0;
  font-size: 1rem;
}

footer {
  color: var(--nc-tx-3);
  font-size: smaller;
  border-top: 1px solid var(--nc-ln-2);
  padding-top: 1rem;
  margin-top: 5rem;
}

header {
  margin-bottom: 1.5rem;
}

.discography {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px;
}

.halbum {
  display: flex;
  flex-direction: column;
  width: 15rem;
  padding: 10px;
  box-sizing: border-box;
}

.halbum .photo {
  border: 1px solid var(--nc-ln-1);
  padding: 5px;
}

.halbum-links {
  text-align: center;
}

.halbum ul {
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
}

.halbum li {
  display: inline-block;
}

article figure {
  max-width: 280px;
}

article figurecaption {
  color: var(--nc-tx-3);
  font-style: italic;
}